* {
    box-sizing: border-box;
}

body {
  font-family: Arial;
  background: white;
  margin: 0;
}
.hidden {
  color: #03a3df;
}
.hidden:hover {
  color: white;
}
.hidden:focus {
  color: white;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.columns {
  float: left;
  width: 33.3%;
  padding: 20px;
  margin-top: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.card {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  transition: 0.3s;
  border-radius: 20px;
  color: #3e3e3e;
}

.card:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}

.card .A101 {
  background-color: #444444;
  color: white;
  font-size: 25px;
  font-weight: bold;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.card .A102 {
  background-color: #1b447f;
  color: white;
  font-size: 25px;
  font-weight: bold;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.card .A103 {
  background-color: #03a3df;
  color: white;
  font-size: 25px;
  font-weight: bold;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.card li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.card .price {
  background-color: #eee;
  font-size: 20px;
  font-weight: bold;
}
.card .schedule {
  font-weight: bold;
}
.card .grey-register {
  background-color: #eee;
  font-size: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.button {
  background-color: #ecb722;
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}
.rows:after {
  content: "";
  display: table;
  clear: both;
}
.email {
  text-decoration: none;
  color: white;
}
.email:hover {
  cursor: pointer;
}
.header {
  background-color: #03a3df;
  padding-bottom: 50px;
  color: white;
}
.footer {
  background-image: url('../images/footerImage.jpg');
  margin: 0px;
  background-size: cover;
  height: 400px;
  margin-top: 50px;
}
.footer-logo {
  float: right;
  padding: 5px;
}
.logo {
  padding: 20px;
}
.arrow {
  float: left;
  padding: 50px;
  padding-bottom: 75px;
  padding-top: 75px;
}
.quote {
  display: block;
  width: 100%;
  font-size: 30px;
  font-style: italic;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40px;
  color: #03a3df;
}
.navbar {
  overflow: hidden;
  padding: 20px;
}
.navbar a {
  float: right;
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 30px 16px;
  padding: 5px;
  text-decoration: none;
}
.navbar a.active {
  background-color: #ecb722;
  border-radius: 5px;
  color: black;
}
.navbar a:hover {
  background-color: #1b447f;
  border-radius: 5px;
  color: white;
}
.footer p {
  color: white;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 0;
  padding-bottom: 12px;
  line-height: 20px;
}
.footer h2 {
  color: white;
  margin-left: 5px;
}
.footer h3 {
  color: white;
  margin-left: 5px;
}
.ndp {
  float: left;
  padding: 5px;
  padding-top: 50px;
}
.policy {
  font-size: 14px;
}

.text {
  font-size: 16px;
  float: left;
  padding-left: 100px;
  padding-right: 100px;
  text-align: justify;
}
.text p {
  margin-top: 0px;
  margin-bottom: 24px;
}
.video {
  display: block;
  margin: 0 auto;
  width: 100%;
  float: left;
  border: 0;
}
.col {
    float: left;
    padding: 5px;
}
.box {
  float: right;
  padding-left: 80px;
  padding-right: 20px;
  padding-top: 50px;
}
.form {
  float: right;
  background-color: #1b447f;
  padding: 18px;
  border-radius: 15px;
}
.form h4 {
  text-align: center;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 0;
  margin-left: 0;
}
input[type="submit"] {
  background-color: #ecb722;
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: #03a3df;
  color: white;
}
input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}
input[type="email"] {
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}
textarea {
  width: 100%;
  font-family: Arial;
  font-size: 18px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}
.rates-header {
  float: left;
  padding-left: 20px;
  padding-right: 50px;
  text-align: justify;
}
.rates-header h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 48px;
  padding-top: 310px;
}
.rates-header h3 {
  font-size: 30px;
  margin-top: 8px;
  margin-bottom: 5px;
}
.rates-header p {
  font-size: 20px;
}
.bio {
    float: left;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
   justify-content: center;
  }
.header-h2 {
  float: right;
  font-size: 48px;
  padding: 1px;
  margin: 5px;
}
.header-h3 {
  float: right;
  font-size: 36px;
  padding: 1px;
  margin: 5px;
}
.subtext {
  float: right;
  padding: 1px;
  margin: 5px;
  font-size: 20px;
  text-align: justify;
  padding-right: 30px;
}
.cta {
  float: right;
  padding: 5px;
  margin: 90px;
  margin-top: 50px;
  background-color: #ecb722;
  border: none;
  border-radius: 10px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
}
.cta:hover {
  background-color: #1b447f;
  color: white;
  cursor: pointer;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.subheader {
  text-align: center;
  font-size: 24px;
}
.bio-text {
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
}
.section-header {
  float: left;
  text-align: center;
  padding: 40px;
  font-size: 30px;
}
.section-header-rates {
  float: left;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 0;
  font-size: 30px;
  margin-bottom: 0;
}
.span_1_of_12 {
  width: 8.33%;
}

.span_2_of_12 {
  width: 16.66%;
}

.span_3_of_12 {
  width: 25%;
}

.span_4_of_12 {
  width: 33.33%;
}

.span_5_of_12 {
  width: 41.66%;
}

.span_6_of_12 {
  width: 50%;
}

.span_7_of_12 {
  width: 58.33%;
}

.span_8_of_12 {
  width: 66.66%;
}

.span_9_of_12 {
  width: 75%;
}

.span_10_of_12 {
  width: 83.33%;
}

.span_11_of_12 {
  width: 91.66%;
}

.span_12_of_12 {
  width: 100%;
}
